#CityResultHeader {
  transition: 1s ease;
}
#CityResultHeader.hide-header {
  transition: 0s;
}

#CityResultHeader h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.7);
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 22px;
}

#CityResultHeader h1 .zip {
  color: rgba(0,0,0,0.58);
  padding-left: 22px;
}

