#Divider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

#Divider .vertical-line {
  left: calc(50% - 1px);
  position: absolute;
  background: #D3D3D3;
  width: 1px;
}

#Divider .vertical-line.top-half {
  top: 0;
  height: calc(45% - 80px);
}

#Divider .vertical-line.bottom-half {
  bottom: 0;
  height: calc(55% - 80px);
}

#Divider .text {
  font-family: 'Roboto Condensed';
  top: calc(40%);
  font-size: 42px;
  color: #aaa;
  text-align: center;
  position: absolute;
  width: 100%;
  top: calc(45% - 30px);
  z-index: 11;
  font-weight: 400;
}
/*
.fade-leave {
  opacity: 0;
}
.fade-leave.fade-leave-active {
  opacity: 1;
  transition: 0.3s ease;
}
*/