#CityResultCard {
  width: 90%;
  background: #fff;
  padding: 0px 30px 26px 30px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  margin-top: 0px;
  margin-bottom: 18px;
  margin-left: 25px;
}

#CityResultCard h1 {
  font-size: 18px;
  font-family: 'Roboto Condensed';
  color: rgba(0,0,0,0.7);
  margin-top: 26px;
  margin-bottom: 18px;
}

#CityResultCard.bar-chart {
  padding-bottom: 0px;
}