#Population {
  margin-top: -2px !important;
  padding-left: 26px;
  margin-bottom: 0px !important;
  color: rgba(0,0,0,0.7);
  font-size: 32px !important;
}
#Population .sub {
  font-size: 18px;
  color: rgba(0,0,0,0.58);
  padding-left: 10px;
}
